.app {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
	gap: 10px;
	padding: 20px 30px;
	border: 1px solid #fff;
	border-radius: 20px;
	margin-top: 20px;
	background: rgb(64, 145, 194);
	background: linear-gradient(
		90deg,
		rgba(64, 145, 194, 0.8603816526610644) 0%,
		rgba(64, 64, 154, 0.7063200280112045) 52%,
		rgba(0, 129, 156, 1) 100%
	);
	position: relative;
}

h1 {
	text-transform: uppercase;
}

.menu {
	list-style: none;
	display: flex;
	gap: 10px;
	padding-top: 10px;
}

.menuItem {
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #fff;
	font-size: 16px;
}

.menuItem > a {
	text-decoration: none;
	color: #000;
}

.menuItem:hover {
	background-color: #fff;
	cursor: pointer;
}

.todoItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 5px 10px;
	background-color: #fff;
}

.btnBlockAction {
	display: flex;
	gap: 5px;
}

.deleteBtn:hover {
	background-color: #cc0000;
}

.updateBtnAction {
	border: none;
	border-radius: 20px;
}
